<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    ul {
      display: flex;
      gap: 1rem;
      justify-content: center;
      li {
        list-style: none;
        background-color: lightgreen;

        padding: 0.5rem;
        border-radius: 10px;
      }
    }
    .google-btn {
      background: red;
      padding: 0.5rem;
      border-radius: 10px;
      &:hover {
        scale: 105%;
      }
    }
    main {
      text-align: center;
    }
  </style>
  <body>
    <nav>
      <ul>
        <% if(data){%>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/user/profile">Profile</a></li>
        <li><a href="/">Home</a></li>
        <% } else{%>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Register</a></li>
        <% }%>
      </ul>
    </nav>
    <main>
      <% if(data){%>
      <h1>Homepage</h1>

      <% } else{%>
      <h1>Please click on login/register!!</h1>
      <% }%>
    </main>
  </body>
</html>
